{% extends "linkAndHead.html" %}


{% block body %}


{% if messages %}
    {% for message in messages %}
        {% if message.extra_tags == "contact" %}
            <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show" role="alert">
                <strong> {{ message }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container my-4">

    <h2 class="text-center my-4" id="heading"> Sign up</h2>

    <div class="container my-4">
        <form id="form" action="signup" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label for="first" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first" name="first" placeholder="first name" required>
            </div>
            <div class="mb-3">
                <label for="last" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last" name="last" placeholder="last" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary my-4" id="submitBtn">sign up</button>
            </div>
        </form>
    </div>

</div>

<script>
    let username = document.getElementById("username");
    username.addEventListener("input",()=>{
        let url = `/signup?isUsername=True&username=${username.value}`;
        let xhr = new XMLHttpRequest();
        xhr.open("GET",url,true);

        xhr.onload=()=>{
            let data = xhr.responseText;
            data = JSON.parse(data)
            if(data["messages"] == "fail"){
                let mssg = document.createElement("div");
                mssg.setAttribute("role","alert");
                mssg.setAttribute("id","mesageAlert");
                mssg.setAttribute("class","alert alert-danger alert-dismissible fade show");
                mssg.innerHTML = 
                `
                    <strong>Username already exist </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                `
                let heading = document.getElementById("heading")
                heading.insertAdjacentElement('beforebegin', mssg);
            }else{
                let messageAlert = document.getElementById("mesageAlert");
                if (messageAlert) {
                    messageAlert.remove();
                }
            }

        }

        xhr.send()

    })


    let email = document.getElementById("email");
    email.addEventListener("input",()=>{
        let url = `/signup?isEmail=True&email=${email.value}`;
        let xhr = new XMLHttpRequest();
        xhr.open("GET",url,true);

        xhr.onload=()=>{
            let data = xhr.responseText;
            data = JSON.parse(data)
            if(data["messages"] == "fail"){
                let mssg = document.createElement("div");
                mssg.setAttribute("role","alert");
                mssg.setAttribute("id","mesageAlert");
                mssg.setAttribute("class","alert alert-danger alert-dismissible fade show");
                mssg.innerHTML = 
                `
                    <strong>Email already exist </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                `
                let heading = document.getElementById("heading")
                heading.insertAdjacentElement('beforebegin', mssg);
            }else{
                let messageAlert = document.getElementById("mesageAlert");
                if (messageAlert) {
                    messageAlert.remove();
                }
            }

        }

        xhr.send()

    })

</script>

{% endblock body %}
